body {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

.main-box {
    width: 700px;
    margin: auto;
}

.hidden {
    display: none;
}

label {
    font-weight: bold;
    width: 100px;
}

section {
    margin-top: 1rem;
    padding: 1rem;
    margin: auto;
    width: 700px;
}