@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');

body {
    font-family: 'Laila';
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {

    height: 40px;
    width: 80px;
    border-radius: 20px;
    padding: 0.5rem;
}

label {

    font-size: 1.3rem;
}