body {
    background-color: rgb(217,217,217);
    display: grid;
}

header{
    width: 100vh;
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
    width: 70vw;

}

h1 {
    font-size: 3rem;
}