h1 {
    color: green;
}

.hidden {
    display: none;
}

label {
    font-weight: bold;
}

main {
    display: grid;
    justify-items: center;
}

section {
    margin-top: 1rem;
    padding: 1rem;
    
}